<!--Navbar-->
<nav class="navbar navbar-inverse">
  <div class="container">
    <h1>
      Photo Bucket
    </h1>
  </div>
</nav>

<!--Entry Box-->
<div class="container-fluid">
  <div class="well well-lg">
    <form (ngSubmit)="onSubmit()" #photoCaptionForm="ngForm">
      <div class="form-group">
        <input required class="form-control" type="text" placeholder="image url" name="image url" [(ngModel)]="formPhotoCaption.imageUrl" />
      </div>

      <div class="form-group">
        <input required class="form-control" type="text" placeholder="caption" name="caption" [(ngModel)]="formPhotoCaption.caption" />
      </div>
      
      <div *ngIf="formPhotoCaption.imageUrl || formPhotoCaption.caption">
        <h5> Preview </h5>
        <img [src]="formPhotoCaption.imageUrl || 'http://static.zerochan.net/Emilia.%28Re%3AZero%29.full.2012489.jpg'" alt="preview image" width="100%" height="100%" />
        <p class="caption"> {{formPhotoCaption.caption}} </p>
      </div>

      <button [disabled]="!photoCaptionForm.form.valid" class="btn btn-{{(formPhotoCaption.$key) ? 'success' : 'primary'}} pull-right" type=submit> {{(formPhotoCaption.$key) ? 'Edit' : 'Submit'}} </button>
      <div class="clearfix" ></div>
    </form>
  </div>
</div>

<hr/>

<!--Photos-->
<div id="wrapper">
  <div id="columns">
    <div class="pin" *ngFor="let photoCaption of bucketStream | async">
      <div class="pull-right edit-actions">
        <button type="button" class="btn btn-success btn-xs" (click)="edit(photoCaption)">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button type="button" class="btn btn-danger btn-xs" (click)="delete(photoCaption)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
      <img [src]="photoCaption.imageUrl" alt="A photo">
      <p class="caption">{{ photoCaption.caption }}</p>
    </div>
  </div>
</div>
